<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="IPropertyMapper Interface" Url="T_Neon_Couchbase_DynamicData_Internal_IPropertyMapper.htm"><HelpTOCNode Title="IPropertyMapper Properties" Url="Properties_T_Neon_Couchbase_DynamicData_Internal_IPropertyMapper.htm" HasChildren="true" /><HelpTOCNode Title="IPropertyMapper Methods" Url="Methods_T_Neon_Couchbase_DynamicData_Internal_IPropertyMapper.htm" HasChildren="true" /></HelpTOCNode>